#cont-for-everything {
    width: 53%;
    height: 100vh;
    border: 5px solid;
    margin: auto;
    background-color: moccasin;

}

#player1 {
    background-color: red;
    display: inline-block;
    width: 20%;
    border: 3px solid;
    border-radius: 30px;
    height: auto;
    position: relative;
    left: 20%;


}

#p1text {
    text-align: center;
    background-color: red;
    font-size: 18px;
    font-weight: bold;

}

#player2 {
    background-color: blue;
    display: inline-block;
    width: 20%;
    border: 3px solid;
    border-radius: 30px;
    height: auto;
    position: relative;
    left: 37%;

}

#p2text {
    text-align: center;
    background-color: blue;
    font-size: 18px;
    font-weight: bold;
}

h1 {
    font-size: 60px;
    text-align: center;
    background-color: moccasin;
}

h2 {
    font-size: 18px;
    text-align: center;
    background-color: red;
}

#gameboard {
    padding-left: 25%;
    padding-right: 25%;
    padding-top: 2%;
    background-color: moccasin;
}

#zero-zero{
    display: inline-block;
    width: 31%;
    height: 17vh;
    border: 3px solid;
    background-color: white;
}
#zero-one{
    display: inline-block;
    width: 31%;
    height: 17vh;
    border: 3px solid;
    background-color: white;
}
#zero-two{
    display: inline-block;
    width: 31%;
    height: 17vh;
    border: 3px solid;
    background-color: white;
}
#one-zero{
    display: inline-block;
    width: 31%;
    height: 17vh;
    border: 3px solid;
    background-color: white;
}
#one-one{
    display: inline-block;
    width: 31%;
    height: 17vh;
    border: 3px solid;
    background-color: white;
}
#one-two{
    display: inline-block;
    width: 31%;
    height: 17vh;
    border: 3px solid;
    background-color: white;
}
#two-zero{
    display: inline-block;
    width: 31%;
    height: 17vh;
    border: 3px solid;
    background-color: white;
}
#two-one{
    display: inline-block;
    width: 31%;
    height: 17vh;
    border: 3px solid;
    background-color: white;
}
#two-two{
    display: inline-block;
    width: 31%;
    height: 17vh;
    border: 3px solid;
    background-color: white;
}

#cube-container {
    padding-top: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: moccasin;
}

#dice {
    background-color: moccasin;
}

#dice:hover {
    transform: rotate(30deg);
}

#screen {
    width: 60%;
    height: auto;
    margin: auto;
}

#commands {
    background-color: white;
    font-size: 30px;
    text-align: center;
    border: 2px solid;

}

* {
    background-color: darkcyan;
    font-family:Georgia, 'Times New Roman', Times, serif ;
}