@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1> Welcome to RecipesWebApp  <br /></h1>
    
    <br />

    <p>all current recipes are from <a href="https://www.chefkoch.de/">chefkoch.de</a>.</p>
    <p><i>feel free to insert your delicous recipes to RecipesWebApp</i></p>
</div>
