@{
    ViewData["Title"] = "Privacy Policy for the RecipesWebApp";
}
<h1>@ViewData["Title"]</h1>


   
<p style="color: #666; font-size: 14px;">Last updated: 09.08.2023</p>
    
<h2 style="color: #333; font-size: 22px; margin-top: 20px;">Information Collection and Use</h2>
<p style="color: #555; font-size: 16px; margin-bottom: 10px;">We may collect various types of personal information when you use RecipesWebApp:</p>
<p style="color: #555; font-size: 16px; margin-bottom: 10px;">- <b>Usage Data</b>: We may collect information on how you interact with our application. This includes data such as your device's Internet Protocol (IP) address, browser type, pages visited, time and date of your visit, and other diagnostic data.</p>
<p style="color: #555; font-size: 16px; margin-bottom: 10px;">- <b>Personal Information</b>: In certain cases, such as when signing up for an account or contacting us, we may collect personal information such as your name, email address, and other contact details. This information is used to provide the services you request and to communicate with you.</p>
    
<h2 style="color: #333; font-size: 22px; margin-top: 20px;">Data Security</h2>
<p style="color: #555; font-size: 16px; margin-bottom: 10px;">We take the security of your personal information seriously and strive to implement reasonable security measures to protect it. However, please note that no method of transmission or storage is 100% secure, and we cannot guarantee the absolute security of your data.</p>
    
<h2 style="color: #333; font-size: 22px; margin-top: 20px;">Third-Party Services</h2>
<p style="color: #555; font-size: 16px; margin-bottom: 10px;">We may use third-party services to analyze application usage, manage user accounts, and improve our services. These third-party services may collect and process data as described in their own privacy policies.</p>
    
<h2 style="color: #333; font-size: 22px; margin-top: 20px;">Cookies</h2>
<p style="color: #555; font-size: 16px; margin-bottom: 10px;">Our application may use cookies and similar tracking technologies to enhance your experience and analyze usage patterns. You can set your browser to refuse cookies or alert you when cookies are being sent. However, please note that some parts of the application may not function properly if you disable cookies.</p>
    
<h2 style="color: #333; font-size: 22px; margin-top: 20px;">Your Choices</h2>
<p style="color: #555; font-size: 16px; margin-bottom: 10px;">You have the right to access, update, or delete your personal information from our records. If you have any questions about your personal data or wish to exercise these rights, please contact us at recipeswebapp@yahoo.de.</p>
    
<h2 style="color: #333; font-size: 22px; margin-top: 20px;">Changes to This Privacy Policy</h2>
<p style="color: #555; font-size: 16px; margin-bottom: 10px;">We reserve the right to update this Privacy Policy from time to time. We will notify you of any changes by posting the new policy on this page. It is your responsibility to review this policy periodically for changes.</p>
    
<h2 style="color: #333; font-size: 22px; margin-top: 20px;">Contact Us</h2>
<p style="color: #555; font-size: 16px; margin-bottom: 10px;">If you have any questions about our Privacy Policy, please contact us at [contact email].</p>
